{% extends 'base.html.twig'  %}

{% block title %}Symfony 4 To-Do liste {% endblock  %}

{% block body  %}
    {% if todo %}
        <table id="tasks" class="table table-striped">
            <thead>
                <tr>
                    <th colspan="1">Task title</th>
                    <th>Actions</th>
                    <th >Status</th>
                </tr>
            </thead>
            <tbody>
                {% for task in todo %}
                    <tr>
                        <td>{{task.title}}</td>
                        <td>
                            <a href="./task/{{task.id}}" class="btn btn-dark">Show </a>
                            <a href="./task/edit/{{task.id}}" class="btn btn-light">Edit </a>
                            <a href="#" class="btn btn-danger delete-task" data-id="{{ task.id }}">Delete </a>
                        </td>     
                    {% if task.task_status > 0 %}
                         <td align="right"><span class="badge badge-success ">Done </span></td>
                    {% else %}
                        <td align="right">
                            <a href="./task/status/{{task.id}}"  class="btn btn-info done-task"> Finish now </a>
                            
                        </td>
                    {% endif %}    
                        
                    </tr>                   
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No task to display</p>
    {% endif %}
    
{% endblock  %}

{% block javascripts  %}
    <script src="./js/main.js"></script>
{% endblock  %}
